#docker{
    display: flex;
    flex-direction: column;
}


body{
    background-color: #e43f5a;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    box-shadow: 1px 3px 10px black;
    border-radius: 0.5em;

}

#home:hover, a:hover, i:hover{
    cursor: pointer;
    color: #162447;
}

a{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    color:#e43f5a;;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 5px 0px 5px;
}

#home{
    background-color: #162447;
    padding: 20px 0px 12px 0px;
    box-shadow: 0px 3px 10px black;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

#home  a:hover{
    background-color: #e43f5a;
    color: #121222;
    cursor: pointer;
    box-shadow: 1px 3px 10.5px black;
    transition: 0.5s ease;
    padding: 15px 5px 11px 5px;
}

.item > form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input{
    padding: 10px;
    border-radius: 0.5em;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 90%;
    border: 5px solid #121222;
}

select{
    padding: 10px;
    border-radius: 0.5em;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    border: 5px solid #121222;
}
#name{
    text-align: center;
    color: #e43f5a;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 3px solid #e43f5a;
    width: 100%;
    border-top: 15px solid;
}

#button{
    border: 2px solid #e43f5a;
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    box-shadow: 1px 0px 3px;
}

#button:hover{
    cursor: pointer;
    background-color: #e43f5a;
    color: #121222;
}

#button:active{
    background-color: #162447;
    color: #e43f5a;
}

.container{
    background-color: #162447;
}

iframe{
    background-color: #e43f5a;
    resize: vertical;
    height: 100px;
    width: 95%;
    margin-top: 5px;
}

