#mailsender{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #e43f5a;
}

#container, #item > form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #162447;
    width: 40%;
    border-radius: 2%;
    box-shadow: 1px 3px 10px black;
}

#item > form{
    margin-top: 5%;
    width: 80%;
    margin-bottom: 10%;
}

.input{
    width: 100%;
    border: 1px solid #e43f5a;
    border-radius: 0.5em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: larger;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
}

input:focus{
    background-color: #e43f5a;
    color: white;
}

#status{
    background-color: #e43f5a;
    margin-bottom: 5%;
    font-family: 'Tahoma';
    font-size: 12px;
    font-weight: bolder;
}
#button{
    margin-top: 5%;
    width: 50%;
    padding: 8px;
    border-radius: 0.5em;
    font-size: large;
}

#button:active{
    background-color: #e43f5a;
    color: white;
}

#button:hover{
    cursor: pointer;
}

input[type = "url"]::placeholder{
    text-align: center;
    font-weight: bold;
    color: black;
}
