body{
    color:  #df6479;
    background-color: #1b1b2f;
}

#topnav  li{
    display: inline;
    padding: 15px 5px 15px 5px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}

#topnav  li:hover{
    background-color: #e43f5a;
    color: #121222;
    cursor: pointer;
    box-shadow: 1px 3px 10px black;
    transition: 1s ease;
}
#topnav{
    width: 100%;
}
#top-right{
    float: right;
}

#topnav  ul{
    background-color: #162447;
    padding: 15px 5px 15px 5px;
    box-shadow: 0px 3px 10px black;
}


#sidepanel ul{
    color: white;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 60px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;    
}

#sidepanel li{
    box-shadow: 0px 1.5px 5px black;
    background-color: #121222;
    width: 175px;
    margin-top: 5px;
    transition: 1s ease;
}

#sidepanel li:hover{
    cursor: pointer;
    background-color: #162447;
    color: #df6479;
    box-shadow: 1px 3px 10px black;
}

#sidepanel li:active{
    background-color: #1b1b2f;
}

#sidepanel{
    margin: 0 auto;
    width: 0%;
    height: 550px;
    overflow: scroll;
    background-color: #e43f5a;
    float: left;
    box-shadow: 1px 3px 10px black;
    transition: 1s ease;
}

#outputconsole{
    box-shadow: 0px 3px 10px black inset;
    background-color: #e43f5a;
    margin: 0 auto;
    float: right;
    width: 99.5%;
    border-right: 5px solid #e43f5a;
    transition: 1s ease;
}


#cmd{
    display: none;
    transition: 1s ease;
    width: 73.5%;
    height: 0;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #162447;
    color: white;
    border-color: #e43f5a;
    float: left;
    margin-top: 10px;
    font-size: large;
    overflow: auto;
    box-shadow: 1px 3px 10px black;
}

#smtbtn{
    display: none;
    transition: 1s ease;
    width: 24%;
    height: 0;
    font-weight: bolder;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-color: #e43f5a;
    background-color: #162447;
    color: #df6479;
    float: right;
    margin-top: 10px;
    box-shadow: 1px 3px 10px black;
}

#smtbtn:hover{
    cursor: pointer;
}
#smtbtn:active{
    background-color: #e43f5a;
    color: #121222;
}

#handle{
    float: left;
}

.loader{
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s ease-in-out;
    background-color: #121222;
    height: 100px;
    width: 100px;
    border: 25px solid #162447;
    border-top-color: #e43f5a;
    border-bottom-color: #e43f5a;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 10px black;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #boxer{
      box-shadow: 1px 3px 10px black;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: #121222;
      border: 25px solid #162447;
      border-top-color: #e43f5a;
      border-bottom-color: #e43f5a;
      border-radius: 50%;
      -webkit-animation: spin 2s reverse infinite;
  }